<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tela-principal/tela-principal.css">
    <link rel="stylesheet" href="css/tela-principal/campeoes-direita.css">
    <link rel="stylesheet" href="css/tela-principal/campeoes-esquerda.css">
    <link rel="stylesheet" href="css/tela-principal/quadrado-campeoes.css">

    <title>Seleção de campeões</title>

</head>

<body>

    <main>

        <div class="campeoes-esquerda">
            <div class="borda-esquerda">
                <img src="/img/stickers/losango.png">
                <div class="bordinha-campeoes-esquerda"></div>
            </div>
            <%- include("invocadores-aliados/invocador1.ejs") %>
            <div class="borda-esquerda"><img src="/img/stickers/losango.png"><div class="bordinha-campeoes-esquerda"></div></div>
            <%- include("invocadores-aliados/invocador2.ejs") %>
            <div class="borda-esquerda"><img src="/img/stickers/losango.png"><div class="bordinha-campeoes-esquerda"></div></div>
            <%- include("invocadores-aliados/invocador3.ejs") %>
            <div class="borda-esquerda"><img src="/img/stickers/losango.png"><div class="bordinha-campeoes-esquerda"></div></div>
            <%- include("invocadores-aliados/invocador4.ejs") %>
            <div class="borda-esquerda"><img src="/img/stickers/losango.png"><div class="bordinha-campeoes-esquerda"></div></div>
            <%- include("invocadores-aliados/invocador5.ejs") %>
            <div class="borda-esquerda"><img src="/img/stickers/losango.png"><div class="bordinha-campeoes-esquerda"></div></div>
        </div>
        
        <div class="quadrado-campeoes">
            <%- include("quadrado-campeoes/filtros.ejs") %>
            <%- include("quadrado-campeoes/campeoes.ejs") %>
            <%- include("quadrado-campeoes/botao.ejs") %>
        </div>

        <div class="campeoes-direita">
            <div class="borda-direita"><div class="bordinha-campeoes-direita"></div><img src="/img/stickers/losango.png"></div>
            <%- include("invocadores-adversarios/invocador1.ejs") %>
            <div class="borda-direita"><div class="bordinha-campeoes-direita"></div><img src="/img/stickers/losango.png"></div>
            <%- include("invocadores-adversarios/invocador2.ejs") %>
            <div class="borda-direita"><div class="bordinha-campeoes-direita"></div><img src="/img/stickers/losango.png"></div>
            <%- include("invocadores-adversarios/invocador3.ejs") %>
            <div class="borda-direita"><div class="bordinha-campeoes-direita"></div><img src="/img/stickers/losango.png"></div>
            <%- include("invocadores-adversarios/invocador4.ejs") %>
            <div class="borda-direita"><div class="bordinha-campeoes-direita"></div><img src="/img/stickers/losango.png"></div>
            <%- include("invocadores-adversarios/invocador5.ejs") %>
            <div class="borda-direita"><div class="bordinha-campeoes-direita"></div><img src="/img/stickers/losango.png"></div>
        </div>

    </main>

    <footer>

        



    </footer>

</body>

<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</html>